<div class="container">
<div class="row" style="margin-top: 32px;">
  <div class="col-md-3">
    <select (change)="ChartType($event.target.value)">
      <option value="null" disabled>Select Chart Type</option>
      <option value="bar">Bar Chart</option>
      <option value="line">Line Chart</option>
      <option value="donut">Donut Chart</option>
      <option value="stack">Stacked Bar Chart</option>
      <option value="water">Water Fall Chart</option>
    </select>
   </div>
   <div class="col-md-9"></div>
</div>
<div class="row">
  <div class="col-md-3 text-center" (click)="one(1)">
    <h2>1</h2>
    <div class="col-md-6 box"></div>
  <div class="col-md-6 box"></div>
  <div class="col-md-6 box"></div>
  <div class="col-md-6 box"></div>
  </div>
  <div class="col-md-3 text-center" (click)="one(2)">
    <h2>2</h2>
    <div class="col-md-4 box"></div>
    <div class="col-md-4 box"></div>
    <div class="col-md-4 box"></div>
    <div class="col-md-4 box"></div>
    <div class="col-md-4 box"></div>
    <div class="col-md-4 box"></div>
  </div>
  <div class="col-md-3 text-center" (click)="one(3)">
    <h2>3</h2>
    <div class="col-md-4 box"></div>
    <div class="col-md-4 box"></div>
    <div class="col-md-4 box"></div>
    <div class="col-md-4 box"></div>
    <div class="col-md-8 box"></div>
  </div>
  <div class="col-md-3 text-center" (click)="one(4)">
    <h2>4</h2>
    <div class="col-md-4 box"></div>
    <div class="col-md-8 box"></div>
    <div class="col-md-4 box"></div>
    <div class="col-md-8 box"></div>
  </div>
</div>
  <div class="row">
    <div class="col-md-3 text-center" (click)="one(5)">
    <h2>5</h2>
    <div class="col-md-4 box"></div>
  <div class="col-md-4 box"></div>
  <div class="col-md-4 box"></div>
  <div class="col-md-4 box"></div>
  <div class="col-md-4 box"></div>
  <div class="col-md-4 box"></div>
  <div class="col-md-4 box"></div>
  <div class="col-md-4 box"></div>
  <div class="col-md-4 box"></div>
</div>
  <div class="col-md-3 text-center" (click)="one(6)">
    <h2>6</h2>
    <div class="col-md-4 box"></div>
    <div class="col-md-4 box"></div>
    <div class="col-md-4 box"></div>
    <div class="col-md-4 box"></div>
    <div class="col-md-8 box"></div>
    <div class="col-md-4 box"></div>
    <div class="col-md-4 box"></div>
    <div class="col-md-4 box"></div>
  </div>
  <div class="col-md-3 text-center" (click)="one(7)">
    <h2>7</h2>
    <div class="col-md-4 box"></div>
    <div class="col-md-4 box"></div>
    <div class="col-md-4 box"></div>
    <div class="col-md-4 box"></div>
    <div class="col-md-8 box"></div>
    <div class="col-md-8 box"></div>
    <div class="col-md-4 box"></div>
  </div>
  <div class="col-md-3 text-center" (click)="one(8)">
    <h2>8</h2>
    <div class="col-md-6 box"></div>
  <div class="col-md-6 box"></div>
  <div class="col-md-6 box"></div>
  <div class="col-md-6 box"></div>
  <div class="col-md-6 box"></div>
  <div class="col-md-6 box"></div>
  </div>
</div>
</div>